<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Search for Data</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
    <div>
        <label>Please select the directory with your replays</label>      
        <input type="file" id="leagueInstallPath" webkitdirectory />
    </div>
    <div>
        <input type="text" placeholder="Your Name or Code" id="playerOneName" required/>
        <input type="text" placeholder="Your Character" id="playerOneCharacter"/>
            <label for="stage">Select Stage:</label>
            <select name="stage" id="stage">
                <option value="">Select Stage</option>
                <option value="Battle Field">Battlefield</option>
                <option value="Final Destination">Final Destination</option>
                <option value="Pokemon Stadium">Pokemon Stadium</option>
                <option value="Fountain of Dreams">Fountain of Dreams</option>
                <option value="Dreamland">Dreamland</option>
                <option value="Yoshi's Story">Yoshi's Story</option>
            </select>    
    </div>
    <div>
        <input type="text" placeholder="Opponent's Name or Code" id="playerTwoName" />
        <input type="text" placeholder="Opponent's Character" id="playerTwoCharacter"/>
    </div>

    <div>
        <button onclick="searchForMatches()">Get Stats </button>
    </div>

    <script type="text/x-template" id="grid-template">
        <table>
          <thead>
            <tr>
              <th v-for="key in columns"
                @click="sortBy(key)"
                :class="{ active: sortKey == key }">
                {{ key | capitalize }}
                <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="entry in filteredHeroes">
              <td v-for="key in columns">
                {{entry[key]}}
              </td>
              <td><button @click="playReplay(entry)">Play highlight</button></td>
            </tr>
          </tbody>
        </table>
      </script>
    </head>
    <body>
      <!-- demo root element -->
      <div id="demo">
      <div v-if="conversions">
        <form id="search">
          Search <input name="query" v-model="searchQuery" />
        </form>
        <demo-grid
          :heroes="gridData"
          :columns="gridColumns"
          :filter-key="searchQuery"
        >
        </demo-grid>
    </div>
      </div>
    <script src="renderer.js"></script>
</body>
</html>

